server:
  port: 5174
spring:
  application:
    name: heima-ai
  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
#        model: deepseek-r1:1.5b   # 思考模型
        model: qwen3:0.6b   # 思考模型
#        model: qwen2.5vl:3b      # 视觉模型
        options:
          temperature: 0.8
    openai:
      api-key: sk-0c855b1a08634e48b9b5680785f9d8f7
      base-url: https://api.deepseek.com/chat/completions
      chat:
        options:
          model: deepseek-chat
          temperature: 0.8
  data:
    redis:
      host: localhost
      port: 6379
      password: kjiolluy711
logging:
  level:
    org.springframework.ai: debug
    com.hzx.ai: debug